<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.websarva.wings.android.meeteat">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeeTEaT"
        tools:targetApi="31" >
        <!-- Google Maps APIキー -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDxfYSGhxoTv5yCq8Kuf1sfGxd7LmUW36o"/>

        <activity
            android:name=".OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewSubtotalAndFeesAcrivity"
            android:exported="false" />
        <activity
            android:name=".ReviewOrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRestauntActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".StoreProductListActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterAddressAndRouteActivity4"
            android:exported="false" />
        <activity
            android:name=".RegisterAddressAndRouteActivity3"
            android:exported="false" />
        <activity
            android:name=".RegisterAddressAndRouteActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterAddressAndRouteActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity2"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>